@page "/booleanPage"

<div class="form-group col-md-6">
    <h3>Boolean Selection Page</h3>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" @onchange="@(() => Yes())">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" @onchange="@(() => No())">
            <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
        <br/>
    </div>
</div>

@if(YesPressed == null)
{
    <div class="form-group col-md-2">
        <h5>Clicked <b>Nothing</b></h5>
    </div>
}
else if (Convert.ToBoolean(YesPressed))
{
    <div class="form-group col-md-2">
        <h5>Clicked <b>Yes</b></h5>
    </div>
}
else
{
    <div class="form-group col-md-2">
        <h5>Clicked <b>No</b></h5>
    </div>
}

@code {


    private Boolean? YesPressed = null;

    public void Yes()
    {
        YesPressed = true;
    }

    public void No()
    {
        YesPressed = false;
    }
}